.dashboard {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: #eaeaea;
  color: #111;
  font-weight: bold;
  padding: 20px;
}
.sidebar ul {
  list-style: circle;
  padding-left: 20px;
  color: #444;
}

.chat-area {
  width: 50%;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
}

.right-panel {
  width: 25%;
  background-color: #f9f9f9;
  padding: 10px;
}
